.MainBody
{
    margin: 0px; 
    padding: 0px;
    background-image:url(../Assets/Img/Fondo.png);
    background-attachment: fixed;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
	height: 100%;
}
.MainHeader
{
    font-family: Courier, monospace;
    font-size: 1.5rem;
    background-color: Black;    
    top:0px;
    grid-area: Header;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120px;
}
.MainHeader nav{
    margin:0px auto;
    width:100%;
}
.MainHeader nav ul{
    text-align: center;
    padding: 10px auto;
}
.MainHeader nav ul li {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
    vertical-align: middle;
}
.MainHeader nav ul li a{
    color: white;  
    text-decoration:none;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.MainHeader nav ul li a:hover{
    color: lightsalmon;  
}
.Mainfooter
{
    grid-area: Fotter;
    font-family:Courier, monospace;
    background-color: Black;    
    position: fixed;
    width: 100%;
    text-align: right;
    bottom: 0px;
}
.Mainfooter a{
    color: white;  
    text-decoration:none;
    position: flex;
    padding:10px;
}
.Mainfooter a:hover{
    color: lightsalmon ;  
}

.TituloPrincipal{
    padding-top: 10px;
}
.Contenedor{
    grid-area: Contenedor;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
}
.Contenedor h1{
    text-align: center;
    color: White;
}
.Contenedor p{
    text-align: justify;
}

.img1{
    width: 290px;
    height: 290px;
    padding: 30px;
    position: relative;
}
.img2{
    width: 300px;
    height: 300px;
    padding: 30px;
    position: relative;
}
.li-logo{
    height: 56px;
    position: sticky;
    width: 180px;
}
.Logo-Animado{
    width: 180px;
    height: 50px;
    animation-name:Logo;
    animation-duration:2s;
    animation-iteration-count:Infinite;
    
}
@keyframes Logo
{
    0%{
        width: 180px;
        height: 50px;
    }
    50%{
        width: 201.6px;
        height: 56px;
    }
    100%{
        width: 180px;
        height: 50px;
    }
}
.Fotos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 40rem;
    grid-template-columns: repeat(auto-fill,min max(15rem,1fr));
}

@media only screen and (min-width: 0px) and (max-width: 339px) {
    .img1{
        width: 200px;
        height: 200px;
        padding: 5px;
        position: relative;
    }
    .Mapa{
        width: 200px;
        height: 200px;
        padding: 10px;
        position: relative;
    }
    .MainBody{
        grid-template-columns: repeat(2fr);
        grid-template-rows: repeat(339px auto);
    }
    .Contenedor{
        margin-left: 10px;
        margin-right: 10px;
    }
    .MainHeader ul{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .MainHeader
    {
        font-size: 1.2rem;
        height:260px;
    }
}
@media only screen and (min-width: 340px) and (max-width: 480px) {
    .img1{
        width: 350px auto;
        height: 350px auto;
        padding: 5px;
        position: relative;
    }
    .Mapa{
        width: 350px auto;
        height: 350px auto;
        padding: 10px;
        position: relative;
    }
    .MainBody{
        grid-template-columns: repeat(3fr);
        grid-template-rows: repeat(480px auto);
    }
    .Contenedor{
        margin-left: 30px;
        margin-right: 30px;
    }
    .MainHeader ul{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .MainHeader
    {
        font-size: 1.4rem;
        height:260px;
    }
}
@media only screen and (min-width: 481px) and (max-width:768px)  {
    .img1{
        width: 400px auto;
        height: 400px auto;
        padding: 10px;
        position: relative;
    }
    .Mapa{
        width: 400px auto;
        height: 400px auto;
        padding: 10px;
        position: relative;
    }
    .MainBody{
        grid-template-columns: repeat(3fr);
        grid-template-rows: repeat(768px auto) ;
    }   
    .Contenedor{
        margin-left: 60px;
        margin-right: 60px;
    }
    .MainHeader ul{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .MainHeader
    {
        font-size: 1.5rem;
        height:260px;
    }
}
@media only screen and (min-width: 769px) and (max-width:1379px)  {
    .MainHeader nav ul li {
        width: 160px;
    }
    .MainHeader
    {
        height:155px;
    }
}
@media only screen and (min-width: 1380px) and (max-width:1580px)  {
    .MainHeader nav ul li {
        width: 160px;
    }      
}
@media only screen and (min-width: 1581px) and (max-width:1655px)  {
    .MainHeader nav ul li {
        width: 180px;
    }      
}
