<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.E.B. Contacto</title>
    <link href="../Css/Style.css" rel="stylesheet" type="text/css">
</head>
<body class="MainBody">
    <header class="MainHeader">
        <nav>
            <ul>
                <li class="li-logo">
                    <img src="../Assets/Img/logo.png" class="Logo-Animado">
                </li>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../Views/Ubicacion.html">Ubicación</a>
                </li>
                <li>
                    <a href="../Views/OctoberFest.html">OctoberFest</a>
                </li>
                <li>
                    <a href="../Views/Menu.html">Menu</a>
                </li>
                <li>
                    <a href="../Views/Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Contenedor">
        <h1 class="TituloPrincipal">G.E.B Contacto</h1>
        <img src="../Assets/Img/imagen1.jpg" class="img1">
        <form action="#" method="post">
            <input type="text" name="nombre" required pattern="[A-Z,Ñ,Á,É,Í,Ó,Ú]{1}[a-zA-Z\sñ,á,é,í,ó,ú,ü]{1,}" placeholder="Nombre completo" autofocus title="Indique su Nombre" required/>
            <input type="email" name="email" required placeholder="Correo Electronico" autofocus title="Indique su Correo Electronico" required/>
            <input type="text" name="mensaje" required pattern="[A-Z,Ñ,Á,É,Í,Ó,Ú]{1}[a-zA-Z\sñ,á,é,í,ó,ú,ü]{1,}" placeholder="¿Cual es su Mensaje?" autofocus title="¿Cual es su Mensaje?" />
            <input type="submit" value="Enviar" title="Enviar">
        </form>
    </div>
    <!-- En proceso de hacer una grilla para mejor esta seccion -->
    <footer  class="Mainfooter">
        <div>
            <a href="#">Instagram</a>
            <a href="#">Whatsapp</a>
        </div>
    </footer>
</body>
</html>