<header class="MainHeader">
    <nav>
        <ul>
            <li class="li-logo">
                    <img src="../Assets/Img/logo.png" class="Logo-Animado">
                </li>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../Views/Ubicacion.html">Ubicación</a>
            </li>
            <li>
                <a href="../Views/OctoberFest.html">OctoberFest</a>
            </li>
            <li>
                <a href="../Views/Menu.html">Menu</a>
            </li>
            <li>
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
</header>
<footer  class="Mainfooter">
    <div>
        <a href="#">Instagram</a>
        <a href="#">Whatsapp</a>
    </div>
</footer>